# OS/editor noise
.DS_Store
*.swp

# Dev shells & home stuff (do NOT commit)
.bash*
.profile
.ssh/
.vscode/
.vscode-server/

# Local runtimes/tools
.rbenv/
.node-gyp/
.npm/
bundle/
vendor/bundle/

# Build, cache & tmp
log/
tmp/
storage/
public/packs
public/assets


# Archives & dumps
*.tar
*.tar.gz
*.zip
*.tgz


# App-specific
.env
.env.*
